[submodule "vendor/doc-to-lora"]
	path = vendor/doc-to-lora
	url = https://github.com/SakanaAI/doc-to-lora
[submodule "vendor/DyPRAG"]
	path = vendor/DyPRAG
	url = https://github.com/Trae1ounG/DyPRAG
[submodule "vendor/SHINE"]
	path = vendor/SHINE
	url = https://github.com/Yewei-Liu/SHINE
[submodule "target_repos/antirez__kilo"]
	path = target_repos/antirez__kilo
	url = https://github.com/antirez/kilo
[submodule "target_repos/marimo-team__marimo"]
	path = target_repos/marimo-team__marimo
	url = https://github.com/marimo-team/marimo
[submodule "target_repos/fogleman__Craft"]
	path = target_repos/fogleman__Craft
	url = https://github.com/fogleman/Craft
[submodule "target_repos/psf__requests"]
	path = target_repos/psf__requests
	url = https://github.com/psf/requests
[submodule "target_repos/pytest-dev__pytest"]
	path = target_repos/pytest-dev__pytest
	url = https://github.com/pytest-dev/pytest
